.location-card-container{
    width: 100%;
    height: 50vh; /* Set a specific height for the 3D canvas */
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 20px;
    overflow: hidden;
    grid-area: c; /* This should match the grid area in content.css */
    background: radial-gradient(circle at center, #1a1a2e 0%, #000000 100%);
}

.about-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 910px;
    width: 50%;
    height: 100%;
    background: transparent;
    padding: 20px;
    border: 1px solid #ffffff54;
    z-index: 1;
}