.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    min-width: 500px;
    height: 50px;
    position: fixed;
    top: 30px;
    z-index: 100;
    padding: 0 20px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.781);
    pointer-events: none;
}

.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    background: none;
    font-size: 1rem;
    padding: 8px 12px;    cursor: pointer;
    pointer-events: all !important;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
