/* Lenis smooth scroll setup */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
